<a href="https://colab.research.google.com/github/lazychoi/dartUsingPython/blob/master/%EB%84%A4%EC%9D%B4%EB%B2%84%EC%A6%9D%EA%B6%8C_%EC%8B%9C%EA%B0%84%EB%B3%84_%EC%8B%9C%EC%84%B8_%EA%B0%80%EC%A0%B8%EC%98%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 네이버 증권 시간별 시세 가져오기

## URL 찾기

개발자도구 > Network > Doc

Name 컬럼의 항목을 클릭한 뒤 오른쪽 Preview를 보고 가져오려는 데이터가 맞는지 확인한 후 Name 컬럼의 link를 복사

* https://finance.naver.com/item/sise_time.nhn?code=005930&thistime=20200228161102  
* https://finance.naver.com/item/sise_time.nhn?code=005930&thistime=20200228161102&page=2
* https://finance.naver.com/item/sise_time.nhn?code=005930&thistime=20200228161102&page=3

In [0]:
import pandas as pd
code = '005930'
url = 'https://finance.naver.com/item/sise_time.nhn?code=' + code + '&thistime=20200228161102'
df = pd.read_html(url)
df

[     체결시각      체결가     전일비       매도       매수         거래량     변동량
 0     NaN      NaN     NaN      NaN      NaN         NaN     NaN
 1   15:59  54200.0  1700.0  54300.0  54200.0  29906540.0    10.0
 2   15:58  54200.0  1700.0  54300.0  54200.0  29906530.0  1515.0
 3   15:57  54200.0  1700.0  54300.0  54200.0  29905015.0  1598.0
 4   15:56  54200.0  1700.0  54300.0  54200.0  29903417.0  4116.0
 5   15:55  54200.0  1700.0  54300.0  54200.0  29899301.0  2679.0
 6     NaN      NaN     NaN      NaN      NaN         NaN     NaN
 7     NaN      NaN     NaN      NaN      NaN         NaN     NaN
 8     NaN      NaN     NaN      NaN      NaN         NaN     NaN
 9   15:54  54200.0  1700.0  54300.0  54200.0  29896622.0  1011.0
 10  15:53  54200.0  1700.0  54300.0  54200.0  29895611.0  1095.0
 11  15:52  54200.0  1700.0  54300.0  54200.0  29894516.0  3445.0
 12  15:51  54200.0  1700.0  54300.0  54200.0  29891071.0  2289.0
 13  15:50  54200.0  1700.0  54300.0  54200.0  29888782.0  1210.0
 14    NaN      NaN     NaN      NaN      NaN         NaN     NaN,
    0   1   2   3   4   5   6   7   8   9   10  11
 0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]

## NaN 제거

dropna() 활용

In [0]:
df[0].dropna()

     체결시각      체결가     전일비       매도       매수         거래량     변동량
1   15:59  54200.0  1700.0  54300.0  54200.0  29906540.0    10.0
2   15:58  54200.0  1700.0  54300.0  54200.0  29906530.0  1515.0
3   15:57  54200.0  1700.0  54300.0  54200.0  29905015.0  1598.0
4   15:56  54200.0  1700.0  54300.0  54200.0  29903417.0  4116.0
5   15:55  54200.0  1700.0  54300.0  54200.0  29899301.0  2679.0
9   15:54  54200.0  1700.0  54300.0  54200.0  29896622.0  1011.0
10  15:53  54200.0  1700.0  54300.0  54200.0  29895611.0  1095.0
11  15:52  54200.0  1700.0  54300.0  54200.0  29894516.0  3445.0
12  15:51  54200.0  1700.0  54300.0  54200.0  29891071.0  2289.0
13  15:50  54200.0  1700.0  54300.0  54200.0  29888782.0  1210.0