<a href="https://colab.research.google.com/github/lazychoi/dartUsingPython/blob/master/%EC%A0%84%EC%9E%90%EA%B3%B5%EC%8B%9C%EB%AA%A9%EB%A1%9D_DB_%EC%97%85%EB%8D%B0%EC%9D%B4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 전자공시 DB 업데이트

1. 구글드라이브 연동
2. stock_dart.py 실행

In [4]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [9]:
cd "/gdrive/My Drive/Colab Notebooks"

/gdrive/My Drive/Colab Notebooks

In [14]:
ls -lh

total 674M
drwx------ 2 root root 4.0K Feb 27 04:23 Dart/
-rw------- 1 root root 674M Mar  2 09:34 stock_dart.db
-rw------- 1 root root 3.1K Feb 27 09:17 stock_dart.py

In [12]:
!python stock_dart.py

DART DB 최종 날짜: 2020-02-27 00:00:00
20200227 1798 rows
Traceback (most recent call last):
  File "stock_dart.py", line 84, in <module>
    df.to_sql('stock_dart', conn, if_exists='append')
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py", line 2712, in to_sql
    method=method,
  File "/usr/local/lib/python3.6/dist-packages/pandas/io/sql.py", line 518, in to_sql
    method=method,
  File "/usr/local/lib/python3.6/dist-packages/pandas/io/sql.py", line 1750, in to_sql
    table.insert(chunksize, method)
  File "/usr/local/lib/python3.6/dist-packages/pandas/io/sql.py", line 756, in insert
    exec_insert(conn, keys, chunk_iter)
  File "/usr/local/lib/python3.6/dist-packages/pandas/io/sql.py", line 1468, in _execute_insert
    conn.executemany(self.insert_statement(), data_list)
sqlite3.DatabaseError: database disk image is malformed

In [13]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('stock_dart.db')

sql = "select count(*) from stock_dart"
pd.read_sql(sql, conn)

DatabaseError: ignored